
*.editorconfig

.vs/

Export/
FracturedTruth/obj
FracturedTruth/obj/

FracturedTruth/Properties/PublishProfiles/
FracturedTruth/FodyWeavers.xsd

*Sponsor.xlsx
/Assets/~$Roles ID.xlsx
/FracturedTruth.sln
/FracturedTruth/obj/Debug/net6.0/ref/FracturedTruth.dll
/FracturedTruth/obj/Debug/net6.0/refint/FracturedTruth.dll
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.csproj.CoreCompileInputs.cache
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.dll
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.pdb
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.sourcelink.json
/FracturedTruth/obj/Release/net6.0/FracturedTruth.assets.cache
/FracturedTruth/obj/Debug/net6.0/GitHead.cache
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.assets.cache
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.csproj.AssemblyReference.cache
/FracturedTruth/obj/project.assets.json
/FracturedTruth/obj/project.nuget.cache
/FracturedTruth/obj/FracturedTruth.csproj.nuget.dgspec.json
/FracturedTruth/obj/FracturedTruth.csproj.nuget.g.props
/FracturedTruth/obj/Release/net6.0/GitHead.cache
/FracturedTruth/obj/Release/net6.0/GitInfo.cache
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.csproj.FileListAbsolute.txt
/FracturedTruth/obj/Release/net6.0/GitHead.cache
/FracturedTruth/obj/Release/net6.0/GitIsDirty.cache
*.zip
/FracturedTruth/obj/FracturedTruth.csproj.nuget.g.targets
/FracturedTruth/obj/Debug/net6.0/ref/FracturedTruth.dll
/FracturedTruth/obj/Release/net6.0/GitInfo.cache
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.csproj.CoreCompileInputs.cache
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.dll
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.pdb
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.sourcelink.json
/FracturedTruth/obj/Debug/net6.0/GitInfo.cache
/FracturedTruth/obj/Debug/net6.0/refint/FracturedTruth.dll
/FracturedTruth/obj/Release/net6.0/GitIsDirty.cache
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.assets.cache
/FracturedTruth/obj/Debug/net6.0/GitIsDirty.cache
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.csproj.AssemblyReference.cache
/FracturedTruth/obj/project.nuget.cache
/FracturedTruth/obj
/FracturedTruth/obj/Release/net6.0/FracturedTruth.assets.cache
/FracturedTruth/obj/Release/net6.0/FracturedTruth.csproj.AssemblyReference.cache
/FracturedTruth/obj/FracturedTruth.csproj.nuget.dgspec.json
/FracturedTruth/obj/project.assets.json
/FracturedTruth/obj/Debug/net6.0/GitHead.cache
/FracturedTruth/obj/Debug/net6.0/ref/FracturedTruth.dll
/FracturedTruth/obj/Debug/net6.0/refint/FracturedTruth.dll
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.dll
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.pdb
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.sourcelink.json
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.AssemblyInfo.cs
/FracturedTruth/obj/Debug/net6.0/FracturedTruth.AssemblyInfoInputs.cache
